{% extends 'base.html' %}

{% block css %}
<style>
    .card{
        border-radius: 1rem;
    }
    .card-header{
        border-radius: 1rem 1rem 0 0;
    }
    .card-title{
        text-align: center;
    }
    .card-body{
        border-radius: 0 0 1rem 1rem;
    }
    .card-body form{
        text-align: center;
    }
    .card-body form .form-group{
        margin-bottom: 1rem;
    }
    .card-body form .form-group input{
        border-radius: 1rem;
    }
    .card-body form .form-group button{
        border-radius: 1rem;
    }
    body{
        background-image: url('/static/images/login.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position-x: right;
        background-position-y: center;
    }
</style>
{% endblock %}
{% block body %}
    <div class="container vh-100 " >
        <div class="row">
            <div class="col-sm-12 col-md-7" style="margin-top: 4rem;">
                {% include "notification.html" %}
                <div class="card shadow-lg m-4 " >
                    <div class="card-header">
                        <div class="card-title"><h2>Login into Account</h2></div>
                    </div>
                    <form method="POST" class="p-5">
                        <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email"
                            class="form-control" name="email" id="email" aria-describedby="emailHelp">
                          <small id="emailHelp" class="form-text text-muted">the one that you have registered with</small>
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password"
                            class="form-control" name="password" id="password" aria-describedby="passhelpId" >
                          <small id="passhelpId" class="form-text text-muted">your password</small>
                        </div>
                        <button class="btn btn-success btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
      $(function () {
          anime({
          targets: '.card',
          scale: [.9,1],
          delay: 500
        });
      });
</script>
{% endblock %}